.mynotes:after {
    content: '';
    background: rgba(109, 136, 203, 0.3);
    width: 100%;
    height: 90%;
    position: absolute;
    left: 4px;
    top: 1px;
    z-index: 1;
    transform: rotate(-3deg);
  }
  .mynote{
      position: relative;
  }
  .notes {
    grid-area: notes;
    border: 2px solid #111;
    border-width: 0 2px 2px;
    margin: 35px 20px 0 0;
    position: relative;
  }
  .notes span {
    display: block;
    margin: -25px 22px;
    font: 32px "Lobster", cursive;
    text-shadow: 2px 1px 0 #fbfae8, 5px 4px 0 coral;
  }
  .notes span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    background: #111;
    background: linear-gradient(to right, #111 15px, transparent 15px, transparent 95px, #111 95px);
  }
  .notes__list {
    margin-top: 24px;
    padding: 10px;
    line-height: 1.2;
  }


.notification{
    margin-top: 20px;
}
.meeting-notification{
    margin-top: 40px;
}
.calendar{
    position: relative;
    border: 2px solid black;
    padding-top: 40px;
}
.content-left{
    margin-left: 10px;
}
.list-group-item{
    padding: 30px;
}
