body{
    background: #eee;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.top{
    width: 100%;
    background: #6d88cb;
    color: white;
    padding: 15px 10px;
    font-size: 21px;
    display: flex;
    align-items: center;
    height: 70px;
}
.top img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.active{
    background: #6d88cb!important;
    color: white!important;
    box-shadow:3px 3px 10px rgba(0, 0, 0, 0.5);
}
.active a{
    color: white;
}
.navs{
    height: 100%;
    background: white;
    flex: 0.2;
    box-shadow:3px 3px 10px rgba(122, 117, 117, 0.4);
}
.content{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    top: 70px;
}

li{
    display: flex;
    justify-content: center;
}
.nav a{text-align: center;}
.nav a:focus{
    background: white!important;
}
.content-left{
    flex: 1;
}
.nav li{
    padding: 5px 0;
}
.list-group{
    padding:0;
    margin:20px 40px;
}
.col-md-6{
    padding: 0;
    margin: 0;
}
.item{
    height: 500px;
}
.item img{
    height: 500px!important;
    width: 100%;
}
.carousel-control{
    background:rgba(0, 0, 0, 0)!important;
    display: flex;
    align-items: center;
    width: 10px;
    color: black;
    font-size: 40px;
    padding: 0 50px;
}
a{
    color: black;
}
a:hover,a:focus{
    color: black;
}
.information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px;
}

.name,.describe{
    text-align: center;
    margin: 10px;
}
.name{
    font-size: 30px;
}
.describe{
    margin-top: 0;
}
.head img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.head{
    text-align: center;
}

.list-group,.calendar{
    background: white;
    box-shadow:3px 3px 10px rgba(122, 117, 117, 0.4);
}
.calendar{
    padding: 20px 0;
}

.calendar-container{
    text-align: center;
}
.list-group-item {
    border: 0;
    border-bottom: 2px solid rgb(238, 237, 237);
}
.list-group .active{
    margin-bottom: 10px;
    height: 60px;
    display: flex;
    align-items: center;
}
.col-md-3,.col-md-4,.col-md-5{
    margin: 0!important;
    padding: 0!important;
}
.list-group{
    margin: 20px;
    padding: 0;
}